p{
  margin: 0;
  padding: 0;
  color: #161616;
}

.nombre{
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
}

.info{
  font-size: small;
  text-align: center;
}
.text-line{
  font-weight: bold;
  text-decoration: underline;
}
.qr{
  position: absolute;
  width: 90px;
  height: 90px;
}
